<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bipStyle.css" />
</head>

<body class="stackedit" id="bip-template">
  <div class="stackedit">
    <h1 id="summary">Summary</h1>
    <p>Description of the Bip</p>
    <h2 id="key-points">Key Points</h2>
    <p>The key elements are the following:</p>

    <ul class="columns" data-columns="2">
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
      <li>item 4</li>
      <li>item 5</li>
      <li>item 6</li>
    </ul>

  </div>
</body>

</html>
