.DS_Store
build
node_modules/
node_modules_pre/
node_modules_post/
package-lock.json
yarn-error.log
.idea/
stats.json
.env.local

# Ignore generated Typechain files.
src/constants/generated

.vscode/

.netlify/
