/** Enter/exit animations for toasts */
@keyframes custom-enter {
  0% {
    right: -500px;
  }
  50% {
    right: 0px;
  }
}
@keyframes custom-exit {
  0% {
    right: 0px;
  }
  50% {
    right: -500px;
  }
}

/** Spinning animation for Sun icon when awaiting = true */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Pulse animation for when Season is new */
@keyframes pulse {
  0% {
    border-color: rgba(240, 223, 146, 1);
  }
  50% {
    border-color: rgba(240, 223, 146, 0.5);
  }
  100% {
    border-color: rgba(240, 223, 146, 1);
  }
}