/**
 * Toast
 */

@media only screen and (max-width: 1450px) {
  .navbar {
    background-color: #DBEDFD;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 2100px) {
  .navbar {
    background-color: #e8f3fd;
  }
}

@media only screen and (min-width: 2100px) {
  .navbar {
    background-color: #eaf3fd;
  }
}

@keyframes custom-enter {
  0% {
    right: -500px;
    /* opacity: 0; */
  }
  50% {
    right: 0px;
    /* opacity: 1; */
  }
}
@keyframes custom-exit {
  0% {
    right: 0px;
    /* opacity: 1; */
  }
  50% {
    right: -500px;
    /* opacity: 0; */
  }
}
@keyframes grow-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}