/**
 * Toast
 */

@keyframes custom-enter {
  0% {
    right: -500px;
    /* opacity: 0; */
  }
  50% {
    right: 0px;
    /* opacity: 1; */
  }
}
@keyframes custom-exit {
  0% {
    right: 0px;
    /* opacity: 1; */
  }
  50% {
    right: -500px;
    /* opacity: 0; */
  }
}

@keyframes grow-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}