@font-face {
  font-family: Futura-PT-Book;
  src: url('../font/FuturaPTBook.otf');
}
body,html{
  color: rgba(0,0,0,.75);
  font-size: 16px;
  font-family: Futura-PT-Book;
  font-variant-ligatures: common-ligatures;line-height: 1.67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1,h2,h3,h4,h5,h6{
  padding-top: 30px;
  margin: 1.8em 0;
  line-height: 1.33
}
h1:after,
h2:after{
  content: "";
  display: block;
  position: relative;
  top: .33em;
  border-bottom: 1px solid hsla(0,0%,50%,.33)
}
ol ol,ol ul,ul ol,ul ul{
  margin: 0
}
dt{
  font-weight: 700
}
a{
  color: #0c93e4;
  text-decoration: underline;
  text-decoration-skip: ink;
}
a:focus,
a:hover{
  text-decoration: none
}
pre>code{
  background-color: rgba(0,0,0,.05);
  display: block;
  padding: .5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre
}.toc
ul{
  list-style-type: none;
  padding-left: 20px
}

img{
  max-width: 100%; height: 12px
}.task-list-item{
  list-style-type: none
}
.stackedit__html{
  border-radius: 25px;
  background-color: white;
  opacity: 95%;
  margin-bottom: 180px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  padding-top: 0px;
  max-width: 750px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),0px 4px 5px 0px rgb(0 0 0 / 14%),0px 1px 10px 0px rgb(0 0 0 / 12%);
}.stackedit__toc
ul{
  padding: 0
}.stackedit__toc

li{
  display: block
}.stackedit__toc

blockquote{
  border-left-color: #ececec
}.stackedit--pdf
.stackedit__html{
  padding-left: 0;
  padding-right: 0;max-width: none
}
.stackedit {
  font-family: Futura-PT-Book;

}
