/** ------------------------- **/
/** Fonts                     **/
/** ------------------------- **/

@font-face {
  font-family: 'Futura PT';
  src: url('./font/FuturaPT/FuturaPTLight.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Futura PT';
  src: url('./font/FuturaPT/FuturaPTMedium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url('./font/FuturaPT/FuturaPTBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Lucida Console';
  src: url('./font/LucidaConsole/LucidaConsoleRegular.ttf');
}

/** ------------------------- **/
/** Globals                   **/
/** ------------------------- **/

html, body {
  height: 100%;
  background-color: #daf2ff;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Futura-PT', 'Futura-PT-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** Prevent page overscrolling: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: none;
}
