@font-face {
  font-family: Futura-PT-Book;
  src: url('../font/FuturaPTBook.otf');
}
blockquote, dl, ol, p, pre, ul {
  margin: 0.33em 0;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0em 0;
  line-height: 0.33em;
}
h1:after,
h2:after {
  content: "";
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.33);
}
h1 {
  font-size: 18px;
  margin: 0.55em 0;
}
h2 {
  font-size: 18px;
  margin: 0.55em 0;
}
.stackedit {
  font-family: Futura-PT-Book;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  height: 100%;
}
